bash==0.6
certifi==2022.12.7
chardet==3.0.4
DateTime==4.2
geojson==2.4.0
idna==2.7
pytz==2018.5
range==1.0.0
regex==2018.11.22
requests==2.20.1
urllib3==1.24.2
virtualenv==16.1.0
zope.interface==4.5.0
